@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/homePage.css" asp-append-version="true" />
</head>

<body>
    <div id="banner">
        <div id="banner-text">
            <h1>Welcome to Fast Wheels</h1>
        </div>
        <div id="banner-button">
            <a href="https://localhost:7138/Products/AboutUs" class="banner-button">Learn More</a>
        </div>
    </div>

    <div id="features">
        <div class="feature">
            <h3>Parts? Chosen.</h3>
            <p>High quality parts that could satisfy every client's need and not only that but their budget too</p>
            <img src="~/images/5755982.png" alt="Feature 1 Image">
        </div>
        <div class="feature">
            <h3>Skateboard - Crafted</h3>
            <p>Pick your own parts and get a custom skateboard made for you</p>
            <img src="~/images/6736796.png" alt="Feature 2 Image">
        </div>
        <div class="feature">
            <h3>Order? Made.</h3>
            <p>High quality order system that presents to the clients the posibility of a quick and easy order</p>
            <img src="~/images/delivery_cart-cart-delivery-trolley-heavy-loads-512.webp" alt="Feature 3 Image">
        </div>
    </div>

    <div id="centered-image">
        <img src="~/images/logo.png" alt="Centered Image">
    </div>

	<h2 class="h2Offer">What We Offer</h2>
    <div id="image-container">
        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/810121101407-c_1280x.jpg?v=1689035853" alt="Image 1">
            <p class="image-caption">Frog Dragon I Nick Michel Skateboard Complete</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/Spooky-Scary-Skeleton-Black-c_13c14ea5-22b7-4aa1-83db-dcc9c58ee60e_1280x.jpg?v=1650585397" alt="Image 2">
            <p class="image-caption">CCS Vine Skeleton Skateboard Complete</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/193172446254-c_1280x.jpg?v=1688597851" alt="Image 3">
            <p class="image-caption">Santa Cruz Delfino Devil VX Skateboard </p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/888560309722-c_1280x.jpg?v=1694558060" alt="Image 4">
            <p class="image-caption">There Chandler Marionette Skateboard Complete</p>
        </div>

        <div class="image-wrapper">
            <img src="https://th.bing.com/th/id/OIP.NsbtiIICMcuXDvIk9817AgHaO0?rs=1&pid=ImgDetMain" alt="Image 5">
            <p class="image-caption">CCS Ghost Mini Skateboard Complete</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/5056336639020-c_1280x.jpg?v=1652917405" alt="Image 6">
            <p class="image-caption">Polar Oskar Rozenberg World Domination Wheel Well</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/5056336639235-c_1280x.jpg?v=1652917392" alt="Image 7">
            <p class="image-caption">Polar Hjalte Halberg Fire Ride Wheel Well Skateboard</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/888560253728-c_1280x.jpg?v=1636158114" alt="Image 8">
            <p class="image-caption">Anti-Hero Kanfoush Medicine Skateboard Complete</p>
        </div>
    </div>

    <div id="image-container">
        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/842357181458-1_1280x.jpg?v=1686009665" alt="Image 1">
            <p class="image-caption">
                Bones Rayssa Leal Slinky 99A V5 Sidecut 
            </p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/193172481880-1_1280x.jpg?v=1700100811" alt="Image 2">
            <p class="image-caption">
                OJ Nora Vasconcellos Flowers Elite 95a
            </p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/193172481866-1_1280x.jpg?v=1700100811" alt="Image 3">
            <p class="image-caption">OJ Nick Boserio Sad Security Mini</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/193172325580-1_1280x.jpg?v=1682554134" alt="Image 4">
            <p class="image-caption">Slime Balls Big Balls 97a Wheels</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/888560317093-1_1280x.jpg?v=1696890992" alt="Image 5">
            <p class="image-caption">Last Resort AB x Spitfire Formula</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/193172426973-1_1280x.jpg?v=1688597850" alt="Image 6">
            <p class="image-caption">OJ Raemers Foundation Pro </p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/193172441846-1_1280x.jpg?v=1688597850" alt="Image 7">
            <p class="image-caption">Ricta Shanahan Speedrings Slim</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/193172380114-1_1280x.jpg?v=1666803362" alt="Image 8">
            <p class="image-caption">Slime Balls Stupid Brains Speed Balls</p>
        </div>
    </div>

     <div id="image-container">
        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/193172484379-1_1280x.jpg?v=1700100803" alt="Image 1">
            <p class="image-caption">
                Krux K5 Bad Kitty Standard 
            </p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/193172416707-1_1280x.jpg?v=1679705064" alt="Image 2">
            <p class="image-caption">
                Krux K5 Ryan Lay Watering Hole 
            </p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/193172443734-1_1280x.jpg?v=1692052583" alt="Image 3">
            <p class="image-caption">Krux K5 DLK Trucks</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/193172484584-1_1280x.jpg?v=1700100802" alt="Image 4">
            <p class="image-caption">Independent Stage 11 TFunk</p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/193172416660-1_1280x.jpg?v=1675474492" alt="Image 5">
            <p class="image-caption">Krux K5 Marbie Letters DLK </p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/193172443871-1_1280x.jpg?v=1688167274" alt="Image 6">
            <p class="image-caption">
                Independent Stage 11 Justin 
            </p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/files/193172484430-1_1280x.jpg?v=1700100804" alt="Image 7">
            <p class="image-caption">Krux K5 Kien Caples DLK </p>
        </div>

        <div class="image-wrapper">
            <img src="https://shop.ccs.com/cdn/shop/products/888560302600-1_1280x.jpg?v=1683937757" alt="Image 8">
            <p class="image-caption">Venture Niles Gibbs Guest </p>
        </div>
    </div>

    <div class="services-container">
        <div class="service">
            <div class="service-text">
                <h3>Fast Wheels Customs</h3>
                <p>Create your own skateboard</p>
            </div>
            <img class="service-image" src="~/images/6740646.png" alt="Service 1 Image">
        </div>

        <div class="service">
            <div class="service-text">
                <h3>The Fast Wheels Blog</h3>
                <p>Skating, reviews, news, & more</p>
            </div>
            <img class="service-image" src="~/images/9623631.png" alt="Service 2 Image">
        </div>

        <div class="service">
            <div class="service-text">
                <h3>Information provided</h3>
                <p>Anything you could posibly wonder</p>
            </div>
            <img class="service-image" src="~/images/OIP.jpg" alt="Service 3 Image">
        </div>
    </div>

    <div id="second-banner">
        <img class="banner-image" src="~/images/banner1.jpg" alt="Banner 2 Image 1">
        <img class="banner-image" src="~/images/banner2.jpg" alt="Banner 2 Image 2">
        <img class="banner-image" src="~/images/banner3.jpg" alt="Banner 2 Image 3">
    </div>

    <div id="product-types">
        <h2>Products</h2>
        <div class="product-type">
            <img class="product-type-image" src="~/images/3365964.png" alt="Product 1 Image">
            <a href="https://localhost:7138/Components/AllTrucks">Trucks</a>
        </div>
        <div class="product-type">
            <img class="product-type-image" src="~/images/idkdkkdkkdkdkd.png" alt="Product 2 Image">
            <a href="https://localhost:7138/Components/AllWheels">Wheels</a>
        </div>
        <div class="product-type">
            <img class="product-type-image" src="~/images/7180481.png" alt="Product 3 Image">
            <a href="https://localhost:7138/Components/AllBearings">Bearings</a>
        </div>
        <div class="product-type">
            <img class="product-type-image" src="~/images/6449027.png" alt="Product 4 Image">
            <a href="https://localhost:7138/Components/AllGriptapes">Griptape</a>
        </div>
        <div class="product-type">
            <img class="product-type-image" src="~/images/3900169.png" alt="Product 5 Image">
            <a href="https://localhost:7138/Components/AllDecks">Decks</a>
        </div>
        <div class="product-type">
            <img class="product-type-image" src="~/images/10562082.png" alt="Product 6 Image">
            <a href="https://localhost:7138/CompleteSkateboards/All">Skateboard Completes</a>
        </div>
        <div class="product-type">
            <img class="product-type-image" src="~/images/10529113.png" alt="Product 6 Image">
            <a href="https://localhost:7138/Skateboards/All">Custom Skateboards</a>
        </div>
    </div>

    <div id="skateboard-completes">
		<div class="slideshow-container">
			<div class="mySlides">
                <img class="slideshow-image" src="~/images/tony-hawk-ps4-original.webp" alt="Slide 1">
			</div>
            <div class="mySlides">
                <img class="slideshow-image" src="~/images/skateboarding_requires_a_lot_of_perfection_1526963377.jpg" alt="Slide 1">
			</div>
			<div class="mySlides">
                <img class="slideshow-image" src="~/images/VC_CANow-87_Tony-Hawk_SUPPLIED_1280x640.jpg" alt="Slide 1">
			</div>
            <a id="slideshow-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a id="slideshow-next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>


    <button onclick="scrollToTop()" id="topButton" title="Go to top">Top</button>
    </body>
    <script>
        let slideIndex = 1;

        function showSlides(n) {
            let i;
            const slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
        showSlides(slideIndex);
    </script>
<script>
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        var topButton = document.getElementById("topButton");

        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            topButton.style.display = "block";
        } else {
            topButton.style.display = "none";
        }
    }

    function scrollToTop() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
    }
</script>

