<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title style="color:midnightblue">@ViewData["Title"] - Fast Wheels</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SkateAppWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <button id="changeCurrencyBtn"><img class="buttonsImage" src="~/images/calculator-2_orig.png" style="width:22px;height:25px"></button>
            <div class="container-fluid">
                <a class="navbar-brand" style="font-weight:bold; font-size:25px" asp-area="" asp-controller="Home" asp-action="Index"><img class="logoImage" src="~/images/logo.png">Fast Wheels</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
                    <div class="dropdown">
                        <button class="dropdowns" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> Products</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/Products/All"><img class="navElementImage" src="~/images/2344187.png">All</a></li>
								<li><a class="dropdown-item" href="/Components/AllTrucks"><img class="navElementImage" src="~/images/6955084.png">Trucks</a></li>
                                <li><a class="dropdown-item" href="/Components/AllBearings"><img class="navElementImage" src="~/images/7180481.png">Bearings</a></li>
                                <li><a class="dropdown-item" href="/Components/AllWheels"><img class="navElementImage" src="~/images/6955099.png">Wheels</a></li>
                                <li><a class="dropdown-item" href="/Components/AllGriptapes"><img class="navElementImage" src="~/images/6955052.png">Griptapes</a></li>
                                <li><a class="dropdown-item" href="/Components/AllDecks"><img class="navElementImage" src="~/images/4357534.png">Decks</a></li>
                                <li><a class="dropdown-item" href="/Accessories/All"><img class="navElementImage" src="~/images/4769436.png">Accessories</a></li>
                                <li><a class="dropdown-item" href="/Skateboards/All"><img class="navElementImage" src="~/images/6079550.png">Skateboards</a></li>
                                <li><a class="dropdown-item" href="/CompleteSkateboards/All"><img class="navElementImage" src="~/images/5222181.png">Complete Skateboards</a></li>
								</ul>
                    </div>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="AboutUs"><span>About us</span></a>
                        </li>
                         @if ((this.User.Identity.IsAuthenticated))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Blogs" asp-action="All"><span>Blog</span></a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Information"><span>Infromation</span></a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Contacts"><span>Contacts</span></a>
						</li>
                        @if ((this.User.Identity.IsAuthenticated || this.User.IsInRole("Administrator")))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Skateboards" asp-action="CreateSkateboard"><span>Configurator</span></a>
                            </li>
                        }
                        @if ((this.User.Identity.IsAuthenticated))
						{
							<div class="dropdown">
								<button class="dropdowns" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> My </button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="/Orders/My"><img class="navMyImage" src="~/images/8866511.png">My Orders</a></li>
									<li><a class="dropdown-item" href="/Favorites/My"><img class="navMyImage" src="~/images/blue-heart.png">My Favorites</a></li>
									<li><a class="dropdown-item" href="/Reviews/My"><img class="navMyImage" src="~/images/review-icon-png-14.png">My Reviews</a></li>
								</ul>
							</div>
						}
                        @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                        {
                            <div class="dropdown">
                                <button class="dropdowns" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> Admin Panel </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <h3 style="color:midnightblue">Statistics</h3>
									<li><a class="dropdown-item" href="/Products/AllTable"><img class="navElementImage" src="~/images/products.png">Products</a></li>
                                    <li><a class="dropdown-item" href="/Orders/All"><img class="navElementImage" src="~/images/order.png">Orders</a></li>
                                    <li><a class="dropdown-item" href="/Reviews/All"><img class="navElementImage" src="~/images/review.png">Reviews</a></li>
                                    <li><a class="dropdown-item" href="/Favorites/All"><img class="navElementImage" src="~/images/favorite.png">Favorites</a></li>
                                    <li><a class="dropdown-item" href="/Brand/Index"><img class="navElementImage" src="~/images/brands.png">Brands</a></li>
                                    <li><a class="dropdown-item" href="/Clients/Index"><img class="navElementImage" src="~/images/clients.png">Clients</a></li>
                                    <li><a class="dropdown-item" href="/Statistics/Index"><img class="navElementImage" src="~/images/values.png">Values</a></li>
                                    <h3 style="color:midnightblue">Actions</h3>
                                    <li><a class="dropdown-item" href="/Accessories/CreateAccessory"><img class="navElementImage" src="~/images/tool.png">Create Accessory</a></li>
                                    <li><a class="dropdown-item" href="/Components/CreateTruck"><img class="navElementImage" src="~/images/6955084.png">Create Trucks</a></li>
                                    <li><a class="dropdown-item" href="/Components/CreateGriptape"><img class="navElementImage" src="~/images/griptape.png">Create Griptape</a></li>
                                    <li><a class="dropdown-item" href="/Components/CreateWheel"><img class="navElementImage" src="~/images/8855635.png">Create Wheels</a></li>
                                    <li><a class="dropdown-item" href="/Components/CreateBearing"><img class="navElementImage" src="~/images/5064628.png">Create Bearings</a></li>
                                    <li><a class="dropdown-item" href="/Components/CreateDeck"><img class="navElementImage" src="~/images/deck.png">Create Deck</a></li>

                                    <li><a class="dropdown-item" href="/CompleteSkateboards/CreateCompleteSkateboard"><img class="navElementImage" src="~/images/142-1420799_vector-freeuse-stock-image-skate-emoticons-gif-club.png">Create Complete Skateboard</a></li>
                                    <li><a class="dropdown-item" href="/Brand/Create"><img class="navElementImage" src="~/images/brand.png">Create Brand</a></li>
                                    
                                </ul>
                            </div>
                        }
                 </ul>
                        <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            <h4>About Us</h4>
            <a class="aFooter" asp-area="" asp-controller="Blogs" asp-action="All">Blog</a>
            <a class="aFooter" asp-area="" asp-controller="Products" asp-action="Contacts">Contacts</a>
            <p style="color:midnightblue">Biggest supporter: Deyvid&#9829;&#9829;</p>
        </div>
        <div>
            <h4>Contact Information</h4>
            <p>Email: contact@example.com</p>
            <p>Phone: +123 456 789</p>
            <p>Address: Pernik</p>
        </div>
        <div>
            <h4>Get help</h4>
            <a class="aFooter" asp-area="" asp-controller="Products" asp-action="Information">Information</a>
            <a class="aFooter" asp-area="" asp-controller="Products" asp-action="Guide">Guide</a>
            <a class="aFooter" asp-area="" asp-controller="Products" asp-action="MostAsked">Most asked</a>
        </div>
        <div>
            <h4>Contact us</h4>
            <div class="app-icons" style="margin-left:90px;">
                <a class="aFooter" href="https://www.facebook.com/" style="opacity:100%"><i class="fab fa-facebook"></i></a>
                <a class="aFooter" href="https://twitter.com/" style="opacity:100%"><i class="fab fa-twitter"></i></a>
                <a class="aFooter" href="https://www.instagram.com/?hl=en" style="opacity:100%"><i class="fab fa-instagram"></i></a>
            </div>

            <form>
                <input type="text" placeholder="First name">
                <input type="text" placeholder="Last name">
                <button type="submit">Submit</button>
            </form>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

