@model SkateAppWeb.Models.Products.BearingCreateVM
<head>
    <link rel="stylesheet" href="~/css/createPages.css" asp-append-version="true" />
</head>
<div class="row" style="float:left; display:inline;">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label labelName"></label>
            <input asp-for="Name" class="form-control inputCreate" placeholder="Enter name..." />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BrandId" class="control-label labelName"></label>
            <select asp-for="BrandId" class="form-control text-center inputCreate">
                @foreach (var brand in Model.Brands)
                {
                    <option value=" @brand.Id">@brand.Name</option>
                }
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label labelName"></label>
            <input class="form-control inputCreate" placeholder="Bearing" readonly />
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Color" class="control-label labelName"></label>
            <input asp-for="Color" class="form-control inputCreate" placeholder="Enter color..." />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Count" class="control-label labelName"></label>
            <input asp-for="Count" class="form-control inputCreate" placeholder="Enter count..." />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="control-label labelName"></label>
            <input asp-for="Quantity" class="form-control inputCreate" placeholder="Enter quantity..." />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Material" class="control-label labelName"></label>
            <input asp-for="Material" class="form-control inputCreate" placeholder="Enter material..." />
            <span asp-validation-for="Material" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label labelName"></label>
            <input asp-for="Price" class="form-control inputCreate" placeholder="Enter price..." />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discount" class="control-label labelName"></label>
            <input asp-for="Discount" class="form-control inputCreate" placeholder="Enter discount..." />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label labelName"></label>
            <input asp-for="Description" class="form-control inputCreate" placeholder="Enter description..." />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Picture" class="control-label labelName"></label>
            <input asp-for="Picture" class="form-control inputCreate" placeholder="Enter picture link..." />
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="brandAndPic">
    <img class="imageCreate" src="~/images/Untitled.png" />
    <img class="imageCreate" src="https://th.bing.com/th/id/R.a0e5ff235372e665e2f8e23cd5549869?rik=pqAStJ%2b6aObemA&pid=ImgRaw&r=0" />
    <img class="imageCreate" src="https://th.bing.com/th/id/R.83c66af120a96b9e3a250f27edaa603d?rik=NFaRGoqskGar4Q&riu=http%3a%2f%2fskatecultureinsider.com%2fwp-content%2fuploads%2f2020%2f10%2fskateboard-bearings.jpg&ehk=QQcOK7d%2feUvMi9hODmoQsqdCUPx6f46hBJHbuz5FDfg%3d&risl=&pid=ImgRaw&r=0" />
</div>
<div class="brandAndPic">
    <p class="pCreate">the best skateboard bearings are not the most expensive bearings.</p>
    <p class="pCreate" style="margin-left:10px;">You’ll be better off with a set of Bronson G2’s than Bones Ceramics because they last almost as long and are way cheaper. </p>
    <p class="pCreate">Considering price, quality, durability, and speed; Bronson Speed Co. G2’s are the best bearings for skateboarding. G2 bearings still ride smooth after months, don’t require much maintenance, and are great for both street and transition skateboarding.</p>
</div>
<div class="brandAndPic">
    <img class="imageCreate" src="https://www.atbshop.co.uk/galleries/17529/bronson-speed-co-g2-skateboard-bearing-detail.jpg" />
    <img class="imageCreate" src="https://images-na.ssl-images-amazon.com/images/I/81RZFrnq69L._AC_SL1500_.jpg" />
    <img class="imageCreate" src="https://static.wixstatic.com/media/6c14ab_54ef9adac9894dc6a2d577605402e844~mv2.jpg/v1/fill/w_980,h_735,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6c14ab_54ef9adac9894dc6a2d577605402e844~mv2.jpg" />
</div>
<div class="brandAndPic">
    <p class="pCreate">1. Bronson speed co</p>
    <p class="pCreate" style="margin-left:10px;">2. Bones Reds Bearings</p>
    <p class="pCreate">3. Zealous Cruiser Bearings</p>
</div>