@model SkateAppWeb.Models.Products.DeckCreateVM
<head>
    <link rel="stylesheet" href="~/css/createPages.css" asp-append-version="true" />
</head>
<div class="row" style="float:left; display:inline;">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label labelName"></label>
            <input asp-for="Name" class="form-control inputCreate" placeholder="Enter name..." />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BrandId" class="control-label labelName"></label>
            <select asp-for="BrandId" class="form-control text-center inputCreate">
                @foreach (var brand in Model.Brands)
                {
                    <option value=" @brand.Id">@brand.Name</option>
                }
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label labelName"></label>
            <input class="form-control inputCreate" placeholder="Deck" readonly />
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Color" class="control-label labelName"></label>
            <input asp-for="Color" class="form-control inputCreate" placeholder="Enter color..." />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Shape" class="control-label labelName"></label>
            <input asp-for="Shape" class="form-control inputCreate" placeholder="Enter shape..." />
            <span asp-validation-for="Shape" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Size" class="control-label labelName"></label>
            <input asp-for="Size" class="form-control inputCreate" placeholder="Enter size..." />
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="control-label labelName"></label>
            <input asp-for="Quantity" class="form-control inputCreate" placeholder="Enter quantity..." />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Material" class="control-label labelName"></label>
            <input asp-for="Material" class="form-control inputCreate" placeholder="Enter material..." />
            <span asp-validation-for="Material" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label labelName"></label>
            <input asp-for="Price" class="form-control inputCreate" placeholder="Enter price..." />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discount" class="control-label labelName"></label>
            <input asp-for="Discount" class="form-control inputCreate" placeholder="Enter discount..." />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label labelName"></label>
            <input asp-for="Description" class="form-control inputCreate" placeholder="Enter description..." />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Picture" class="control-label labelName"></label>
            <input asp-for="Picture" class="form-control inputCreate" placeholder="Enter picture link..." />
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="brandAndPic">
    <img class="imageCreate" src="https://th.bing.com/th/id/R.a78abf5d5cc5d143335fc8b6ba1ef115?rik=XjFWXmQ1%2fPuESA&pid=ImgRaw&r=0" />
    <img class="imageCreate" src="https://th.bing.com/th/id/OIP.eepcndlslPR4Dw5TsNyTMAHaHa?w=640&h=640&rs=1&pid=ImgDetMain" />
    <img class="imageCreate" src="https://thumbs.dreamstime.com/b/various-skateboards-views-angles-set-skate-boards-colorful-modern-prints-sticker-bombs-flat-style-vector-illustration-97538261.jpg" />
</div>
<div class="brandAndPic">
    <p class="pCreate">The deck of a skateboard is simply the part that you stand on while riding, and yet it is so much more than that.</p>
    <p class="pCreate" style="margin-left:10px;">Like how a seasoned captain controls his ship from atop the deck, as does an experienced skater control his skateboard. </p>
    <p class="pCreate">Some skateboard decks are simply blank boards, while others feature every color imaginable and are covered with intricate designs. These designs are mostly on the bottom of the deck since the top is often covered with grip tape.</p>
</div>
<div class="brandAndPic">
    <img class="imageCreate" src="https://www.nativeskatestore.co.uk/images/psychoactive-oval-skateboard-deck-8-25-p61025-139118_image.jpg" />
    <img class="imageCreate" src="https://th.bing.com/th/id/R.7831e9b0b6e74d494237cedff472f4b3?rik=%2flLLvwjWDcTf7g&riu=http%3a%2f%2fwww.ocdskateshop.com.au%2fcdn%2fshop%2fproducts%2fpowell-peralta-salman-agah-flight-skateboard-deck_1024x1024.jpg%3fv%3d1626854686&ehk=83MZBCjRdJKiXz79UN4oVZPg3xG0dAg6k%2flkJ0WRjCw%3d&risl=&pid=ImgRaw&r=0" />
    <img class="imageCreate" src="https://bigwoodysskateshop.co.uk/wp-content/uploads/2021/08/real-doves.jpg" />
</div>
<div class="brandAndPic">
    <p class="pCreate">1. Real classic oval</p>
    <p class="pCreate" style="margin-left:10px;">2. Powell Pedalta Flight (Shapes 242-249)</p>
    <p class="pCreate">3. Real Renewal Doves</p>
</div>
