﻿@{
    ViewData["Title"] = "Success";
}
<head>
    <link rel="stylesheet" href="~/css/success.css" asp-append-version="true" />
</head>
<h1 class="h1Success"> You successfully remove a user!</h1>
<img src="https://www.memecreator.org/static/images/memes/4233552.jpg" class="imgSuccess" />
<a href="https://localhost:7138/Brand/Index">back to list</a>