
@model SkateAppWeb.Models.Products.CompleteSkateboardCreateVM

@{
    ViewData["Title"] = "CreateProduct";
}
<head>
    <link rel="stylesheet" href="~/css/createPages.css" asp-append-version="true" />
</head>
<h1 class="text-center createH">Create Complete Skateboard</h1>
<div>
    <form asp-action="CreateCompleteSkateboard" class="text-center">
        @await Html.PartialAsync("_CompleteSkateboardPartialView", Model)
        <div class="form-group mt-4">
            <div class="form-group">
                <button type="submit" class="buttonCreate">Create</button>
            </div>
            <a asp-action="AllTable" asp-controller="Products" class="linkCreate">Back to products</a>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}