﻿@{
    ViewData["Title"] = "Wrong Promocode";
}
<head>
    <link rel="stylesheet" href="~/css/deniedPages.css" asp-append-version="true" />
</head>

<h1>The promocode you entered is invalid</h1>
<section>
    <img src="https://www.pnguniverse.com/wp-content/uploads/2021/05/3d-Sad-6e2c4327.png" alt="Image 1" class="imgSad">

    <p>We are so sorry for the inconvinience! The promocode you entered is unfortanetly invalid. Your order was placed and no promocode was used so its price and discount remained unchanged. </p>
    <p>To get a valid one you need to have at least 5 orders made out of our website no mather their total pricing. When so the promocode will appear in the page containing your orders and therefore the promocode can be used on unlimited amount of orders no matter their pricing nor the quantity of the product or its original discoint and its value. The code adds another 15 percent to the original discoung of the product its being used on and recalculates the price</p>
    <p style="color:dodgerblue; font-size:larger">We've got plenty of products on huge sales. Go check them out!</p>

    <img src="https://i.imgflip.com/3388rw.png" alt="Not dos" class="imgInstructions">
    <img src="https://media.istockphoto.com/photos/male-executive-gesturing-thumbs-up-isolated-picture-id155420636?k=20&m=155420636&s=170667a&w=0&h=lIbSGa3CfpgUB5puNkW_yPDNLYiwylNjfxaFbzgXVik=" alt="Dos" class="imgInstructions">
    <img src="~/images/sales-team-assemble-meme-395x420.jpg" alt="Order made" class="imgInstructions">
</section>
<a class="pageButton" asp-controller="Products" asp-action="All" id="checkoutBtn" style="margin-bottom:20px">Check products</a>
