﻿@{
    ViewData["Title"] = "Denied";
}
<head>
    <link rel="stylesheet" href="~/css/deniedPages.css" asp-append-version="true" />
</head>

<h1>Part/s currently not avalable</h1>
<section>
    <img src="https://i.pinimg.com/originals/de/dd/15/dedd157bf4f12c42966ed0f4e78dd1af.png" alt="Image 1" class="imgSad">

    <p>We are so sorry for the inconvenience! A problem occured while proccessing your custom skateboard creating request. Whats causing this issue is the fact that you have tried creating a custom skateboard with a part or perhaps a few parts that are either not avalable at all or are low in stock and lower than the quantity you firstly intended using.</p>
    <p>To fix this problem we suggest you a few things. First thing you could consider doing is holding on the creating for now and coming back at another time to checkif the parts you were intending of using are back in stock or have been restocked and create yur dream board then. The second thing you could do is replacing the parts that are causing the issue with something that would do just as good from our huge variation of high quality products</p>
    <p style="color:dodgerblue; margin-top:10px; font-size:larger">Ckeck out our suggestions below!</p>

    <h3 class="deniedH3">Brands</h3>
    <img src="https://www.sheerid.com/wp-content/uploads/2016/10/ccs-logo.png"class="imgBrands">
    <img src="https://th.bing.com/th/id/R.8e9c354fa92db5ca490809771d075ad1?rik=AMivffdbWts%2bog&riu=http%3a%2f%2fwww.logotypes101.com%2flogos%2f603%2fE0DE874553A0F4631976B927D27EA267%2fSanta_Cruz_Skateboards.png&ehk=Yn%2fascATEJyKm0OtqegKOsy0InAhho01QffWYkmZ7g0%3d&risl=&pid=ImgRaw&r=0" class="imgBrands">
    <img src="https://i.pinimg.com/originals/40/b2/6c/40b26cd98e3431a95e5aaededb1f203e.jpg" class="imgBrands">
    <img src="https://cdn.shopify.com/s/files/1/0035/2990/0150/products/57_89154731-656b-4d12-8838-6d546e01677d_grande.jpg?v=1571709964" class="imgBrands">
    <img src="https://www.logolynx.com/images/logolynx/b2/b2806c2cd783006c6d0c8fa2108fdb2c.jpeg" class="imgBrands">
    <img src="https://socalskateshop.com/mm5/graphics/00000001/Creature-skateboards-Logo-sticker-2.jpg" class="imgBrands">
    
    <h3 class="deniedH3">Deck shapes</h3>
    <div class="imgContainer">
        <img src="https://i5.walmartimages.com/asr/40cec13e-c865-4d3b-ba87-571c5791dbf4_1.a4c9f77199e2e29c8791330e430f7baa.jpeg" class="imgShapes">
        <p class="imgText">Cruiser</p>
    </div>

    <div class="imgContainer">
        <img src="https://th.bing.com/th/id/OIP.1YglreY6suhc0a9Fwl9B9gAAAA?rs=1&pid=ImgDetMain" class="imgShapes">
        <p class="imgText">Double kick</p>
    </div>

    <div class="imgContainer">
        <img src="https://i5.walmartimages.com/asr/99c046b9-9ecd-40f7-ac92-d869b71b3f41.cd7a7c4c9b4ff40abbc48c3cc37cf3ac.jpeg" class="imgShapes">
        <p class="imgText">Longboard</p>
    </div>

    <div class="imgContainer">
        <img src="https://www.nativeskatestore.co.uk/images/theories-of-atlantis-revealed-skateboard-deck-8-0-p56784-132011_medium.jpg" class="imgShapes">
        <p class="imgText">Popsicle</p>
    </div>

    <div class="imgContainer">
        <img src="https://th.bing.com/th/id/R.e37a46986e4def1b2206995c72b7ac35?rik=U%2fhwLr1DWxAY5w&riu=http%3a%2f%2fwww.nativeskatestore.co.uk%2fimages%2fpenny-original-22-cruiser-skateboard-pastel-blue-p12968-28531_zoom.jpg&ehk=K7XTrborH5OwJHq6i8QGFsXaDxSSA2u5r5JdN33ms5Y%3d&risl=&pid=ImgRaw&r=0" class="imgShapes">
        <p class="imgText">Penny</p>
    </div>

    <div class="imgContainer">
        <img src="https://i.pinimg.com/736x/ee/72/b2/ee72b268346d85923776153bf9919161.jpg" class="imgShapes">
        <p class="imgText">Street</p>
    </div>

    
    <h3 class="deniedH3">Wheel sizes</h3>
    <div class="imgContainerSizes">
        <img src="~/images/R.jpg" class="imgInstructionsSizes">
        <p class="instructionsSizes">Smaller (50-53mm)</p>
    </div>

    <div class="imgContainerSizes">
        <img src="~/images/skaters.jpg" class="imgInstructionsSizes">
        <p class="instructionsSizes">Medium-Sized (54-56mm)</p>
    </div>

    <div class="imgContainerSizes">
        <img src="~/images/a17af18a404a9124f2bafc486964850c.jpg" class="imgInstructionsSizes">
        <p class="instructionsSizes">Larger (57-60mm)</p>
    </div>
</section>
<div>
    <a asp-controller="Products" asp-action="Instructions" class="aDenied">Go to instructions</a>
</div>