@{
    ViewData["Title"] = "AboutUs";
}
<head>
    <link rel="stylesheet" href="~/css/aboutUs.css" asp-append-version="true" />
</head>

<body>

    <div class="aboutUsBigBanner">
        <h1 class="aboutUsH1">About us</h1>
    </div>

    <div class="aboutUsCenteredContent">
        <img src="~/images/logo.png" alt="Small Pic" class="aboutUsImage">
        <p class="aboutUsParagraph">
            Welcome to Fast Wheels, your premier skateboard destination!

            Discover top-tier skateboards, wheels, trucks, and accessories designed for both beginners and pros alike. Dive into our collection of trendsetting designs, shop with confidence using our secure payment options, and experience fast, reliable shipping.

            Join our thriving community and embrace the skateboarding lifestyle. Fast Wheels - where the ride meets the future. Let's roll!
        </p>
    </div>

    <div class="aboutUsBigDiv">
        <div class="aboutUsSlideshow" id="aboutUsSlideshow-container">
            <img src="https://www.wallpaperup.com/uploads/wallpapers/2013/03/11/50796/82555d9ac68c068f65b3d9abf65bb8f8.jpg" alt="Slide 1">
            <img src="~/images/bcysdvgdvfd.jpg" alt="Slide 2">
            <img src="~/images/4546614662_cb2e308c12_b.jpg" alt="Slide 3">
            <img src="~/images/5332105834_5fe217def9_b.jpg" alt="Slide 3">
           
        </div>
        <div class="aboutUsRightContent">
            <h1>Our Story</h1>
            <p class="aboutUsRightParagraph">
                Nestled within the dynamic cityscape, Fast Wheels emerged as a vibrant force in the skateboard scene. What started as a collective dream among passionate
                skateboarders has evolved into a destination committed to redefining the skateboarding experience. 
                Our journey began with a clear vision – to create not just a skate shop, but a community hub that embodies the spirit of skating.
                At Fast Wheels, we are dedicated to pushing the boundaries of performance and style. Our curated collection of top-tier skateboards, wheels, trucks, and accessories reflects 
                our unwavering commitment to quality. Each product tells a unique story of design innovation, allowing skaters to not only elevate 
                their performance but also express their individuality on the streets and skate parks.
                Fast Wheels is where the thrill of the ride meets the speed of the future. Join us in shaping the story of skateboarding – one board at a time. Let's skate into the future together!
            </p>
        </div>
    </div>
    <div class="bannerContainer">
        <img src="~/images/DSC_3282.jpg" alt="Banner Image 1">
        <img src="~/images/636063360064234179-des.all0812-skateboard-challenge15.webp" alt="Banner Image 2">
        <img src="~/images/ab21caa6546da053331f2c9e861e8fad.jpg" alt="Banner Image 3">
    </div>
    <div class="additionalContent">
        <h1>What we offer</h1>
        <p>Fast Wheels offers the crème de la crème of skateboarding gear, surpassing other sites in quality and style. Our curated collection ensures you experience top-tier skateboards,
            wheels, trucks, and accessories that set trends rather than follow them. Elevate your ride with cutting-edge design and unparalleled performance
            – because at Fast Wheels, we don't just meet standards; we set them. Choose excellence. Choose Fast Wheels.</p>
	</div>
        <div class="horizontalLine">
			<div>
				<h3>Configurator</h3>
                <img src="~/images/sadfhj.jpg" alt="Image 1" class="horizontalLineImages">
                
            </div>
			<div>
				<h3>Information</h3>
                <img src="~/images/aad64d05be5649222d8fe169b113d231--shelves.jpg" alt="Image 2" class="horizontalLineImages">
               
            </div>
			<div>
				<h3>Guide</h3>
                <img src="~/images/vector-on-line-learning-tutorials-professional-education-icon-set.jpg" alt="Image 3" class="horizontalLineImages">
                
            </div>
			<div>
				<h3>Blog</h3>
                <img src="~/images/Untitled-design-2022-07-21T023215.521.jpg" alt="Image 4" class="horizontalLineImages">
                
            </div>
        </div>
        

    <div class="additionalContent">

        <div class="horizontalLine">
            <img src="~/images/Neil_Lily_Hawley_backsde_180.jpg" alt="Left Image" class="leftImgHorizontalLine">

			<div class="textRight">
                <h1>Our mission</h1>

                Fast Wheels is on a mission to redefine your skateboarding experience. Our commitment is twofold: first, to bring you the highest quality skateboarding gear that exceeds industry standards. We meticulously curate a collection of top-tier skateboards, wheels, trucks, and accessories to ensure your ride is not just good but exceptional.

                But we go beyond just selling products. Our second mission is to empower you with knowledge. At Fast Wheels, we believe that an informed skater is a confident skater. That's why we provide you with all the information you need – from detailed product descriptions to insightful guides and the latest trends in the skateboarding world. Our goal is 
                to be more than just a shop; we want to be your go-to resource for everything skateboarding.
            </div>
        </div>
        </div>

    <div class="additionalContent">
        <div class="horizontalLine">
            <div class="textLeft">
                <h1>Our shop</h1>
                Fast Wheels, a beacon in skate culture, began with a vision to redefine skateboarding. Born from a collective passion, our shop has evolved into the ultimate destination for enthusiasts seeking top-tier gear.
                Since our inception, we've been committed to curating a selection that exceeds industry standards. Fast Wheels is not just a shop; it's a journey into quality and innovation. Step into our virtual space, where every product tells a story of passion and performance.
                More than a retail hub, we're a knowledge center, providing insights and trends to empower your skateboarding experience. Join us at Fast Wheels, where the history of passion meets the future of performance.
            </div>
            <img src="~/images/asdgj.jpg" alt="Right Image" class="leftImgHorizontalLine">
        </div>
    </div>


    <div class="bannerContainer">
        <img src="~/images/7-1024x609.jpg" alt="Banner Image 1">
        <img src="~/images/uwuwuwuwuwu.webp" alt="Banner Image 2">
        <img src="~/images/xcfhjklkjhgfdfghjkjhgfdfghnjm,.jpg" alt="Banner Image 3">
    </div>

    <div class="customDivsContainer">
        <div class="customDivs">
            <h3>Shop</h3>
            <p class="centeredP">One Shop, A Million Opportunities</p>
            <img src="~/images/oneeee.jpg" alt="Image 1">
        </div>

        <div class="customDivs">
            <h3>Configurator</h3>
            <p class="centeredP">One Configurator, Endless Options</p>
            <img src="~/images/1-01.png" alt="Image 2">
        </div>

        <div class="customDivs">
            <h3>Categories</h3>
            <p class="centeredP">Nine Categories, Countless Uses</p>
            <img src="~/images/1146378.png" alt="Image 3">
        </div>

        <div class="customDivs">
            <h3>Brands</h3>
            <p class="centeredP">Unveiling 10+ Elite Brands</p>
            <img src="~/images/7192792.png" alt="Image 4">
        </div>
    </div>

    <p class="centeredP">Fast Wheels: Your Journey, Your Style. Elevate your ride with top-tier gear, limitless customization, and unparalleled quality. Choose Fast Wheels for a skateboarding experience that
        goes beyond the ordinary. Ride with passion, ride with style.</p>
    <div class="aboutUsCenteredContent">
        <img src="~/images/logo.png" alt="Small Pic" class="aboutUsImage">
    </div>


    <button onclick="scrollToTop()" id="topButton" title="Go to top">Top</button>
</body>

    <script>

        var aboutUsSlideIndex = 0;
        var aboutUsSlides = document.getElementById("aboutUsSlideshow-container").getElementsByTagName("img");

        function aboutUsShowSlides() {
            for (var i = 0; i < aboutUsSlides.length; i++) {
                aboutUsSlides[i].style.display = "none";
            }

            aboutUsSlideIndex++;
            if (aboutUsSlideIndex > aboutUsSlides.length) {
                aboutUsSlideIndex = 1;
            }

            aboutUsSlides[aboutUsSlideIndex - 1].style.display = "block";
            setTimeout(aboutUsShowSlides, 2000); 
        }

        aboutUsShowSlides(); 
        </script>

<script>
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        var topButton = document.getElementById("topButton");

        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            topButton.style.display = "block";
        } else {
            topButton.style.display = "none";
        }
    }

    function scrollToTop() {
        document.body.scrollTop = 0; 
        document.documentElement.scrollTop = 0; 
    }
</script>
        