@{
    ViewData["Title"] = "Guide";
}
<head>
    <link rel="stylesheet" href="~/css/guide.css" asp-append-version="true" />
</head>
<body>

    <div class="banner-section">
        <h1>Skateboard guide</h1>
    </div>


    <div class="banner-content-section">
        <img class="small-image" src="~/images/RT-Lawrence_Icons_1_3_List-Payments.png" alt="Small Image">
        <p style="font-weight:bold">Skateboarding is cool. But if you’re new to the sport it can be a little intimidating. There is a wide array of products and what seems like a whole other language of terms and gear. Don’t panic! We’re here to help.</p>
        <p>Next time you hit the streets for fun on four wheels. You’ll have the most fun with the right equipment. We will help you find exactly the right deck for street, park, vert, cruising or longboarding. </p>
    </div>
    <div class="between-banner">
        <img src="~/images/AshLinaker-KGrind-Beenleigh-WadePhoto.jpg" alt="Image 1">
        <img src="~/images/P-20151116-00070_News-scaled.jpg" alt="Image 2">
        <img src="~/images/GoPro_News_SanSkate_2.jpg" alt="Image 3">
    </div>

    <div class="big-div-section">
        <div class="small-div">
            <h3>Skateboard type</h3>
            <p>Which type of skateboard for me?</p>
            <ul>
                <li>Street and park</li>
                <li>Bowl and pipe</li>
                <li>Cruisers</li>
                <li>Longboards</li>
            </ul>
        </div>

        <div class="small-div">
            <h3>Important details</h3>
            <p>Which details should I look for in a deck?</p>
            <ul>
                <li>Deck length</li>
                <li>Wheelbase</li>
                <li>Kicktail</li>
                <li>Nose and tail</li>
            </ul>
        </div>

        <div class="small-div">
            <h3>Skateboard size</h3>
            <p>Which size deck for me?</p>
            <ul>
                <li>Up to 7.75</li>
                <li>7.75” to 8.25”</li>
                <li>8.25” to 8.5”</li>
                <li>over 8.5”</li>
            </ul>
        </div>
    </div>

    <div class="banner-content-section">
        <img class="small-image" src="~/images/Buyers_guide_icon.png" alt="Small Image">
    </div>


    <h1 class="chapter-heading">Which type of skateboard for me?</h1>
    <h3 class="chapter-subtitle">Before you start to look for a new deck, you should get to know the different styles of skateboarding.</h3>
    <div class="nav-section" id="nav-chapter1">
        <button onclick="showContent('content1')">Street and park</button>
        <button onclick="showContent('content2')">Bowl and pipe</button>
        <button onclick="showContent('content3')">Cruisers</button>
        <button onclick="showContent('content4')">Longboards</button>
    </div>

    <div id="content1" class="content-section">
        <h1>Best for tricks</h1>
        <p>
            Street skating is all about tricks on the street or in the skate park. Rails, boxes, ramps or stairs - everything is jumped on or over.
            These "newschool skateboards" with the popsicle shape are best suited for this. These skateboards are narrower and lighter, which is better for ollies and flips. 
            The double-sided kicktail allows you to skate in both directions.
        </p>
        <img src="~/images/Dektar-Skateboard.webp" alt="Image 1">
    </div>

    <div id="content2" class="content-section">
        <h1>Back to the roots!</h1>
        <p>
            Bowls and pools have a long and rich history in skating. Back in the day, the first skaters drained Californian pools and shredded them. Later,
            the pools were replaced by professional halfpipes and ramps and new tricks such as high aerials and big spins emerged. This further development is called Vert (vertical) skateboarding.
            For the steeper walls of a bowl or halfpipe, wider decks with a low concave are best. They provide more stability and a flat surface for your feet.
        </p>
        <img src="~/images/Screen-Shot-2021-12-21-at-1.30.35-PM.png" alt="Image 2">
    </div>

    <div id="content3" class="content-section">
        <h1>Transport and fun</h1>
        <p>Cruisers have a wider deck with only one kicktail. They are best for riding through town because they are easy to turn and versatile. Read our cruiser buyer's guide for more information.</p>
        <img src="~/images/long.jpg" alt="Image 3">
    </div>

    <div id="content4" class="content-section">
        <h1>Speed and long distance</h1>
        <p>Downhill riding, straight and long distances are where longboards shine. They can have a symmetrical shape with a low centre of gravity. You can use large wheels because longboards have cut-outs to accommodate 
            them. We have a longboard buyer's guide for this different sport.</p>
        <img src="~/images/zaebi.jpg" alt="Image 4">
    </div>


    <div class="eight-divs-section">
        <div class="individual-div">
            <img src="~/images/888560319202-1_1280x.webp" alt="Image 1">
			<p style ="font-weight:bold">Real Where's Mason</p>
            <p >84.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/888560319219-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Anti-Hero x Greensleeves Grant</p>
            <p>84.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/888560316461-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">There Marbie RGB Overload</p>
            <p>84.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/888560319196-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold"> Real Where's Ishod</p>
            <p>81.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/3607935273195-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Rassvet Sedlick</p>
            <p>77.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/827059440201-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Toy Machine 30 Year Anderson Bad Ass</p>
            <p>76.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/193172482207-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Santa Cruz Wooten Fever Dream VX</p>
            <p>96.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/810121101384-c_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Opera Slither Pop Slick</p>
            <p>79.95</p>
        </div>
    </div>


    <button class="page-button" onclick="location.href='https://localhost:7138/CompleteSkateboards/All'">More skateboards</button>
    <div class="between-banner">
        <img src="/images/ucarecdn.webp" alt="Image 1">
        <img src="~/images/kilian-zehnder-official-part-thrasher-0.webp" alt="Image 2">
        <img src="~/images/Pat+Gemzik+Gap+Bs+Feeble+(+high+res+).jpg" alt="Image 3">
    </div>

    <h1 class="chapter-heading">Important details</h1>
    <h3 class="chapter-subtitle">Which details should I look for in a deck?</h3>
    <div class="centered-section">
        <img src="https://contenthub.blue-tomato.com/site/assets/files/2625/skate-construction-1531380277.svg" alt="Centered Image">
        <p class="centered-paragraph">Decks can have a long list of features and tech. Here we break down the most important details so you know which part is which and what to look for in a deck.</p>
    </div>


    <div class="nav-section">
        <button onclick="showContent('content5')">Deck length</button>
        <button onclick="showContent('content6')">Wheelbase</button>
        <button onclick="showContent('content7')">Kicktail</button>
        <button onclick="showContent('content8')">Nose and tail</button>
    </div>

    <div id="content5" class="content-section">
        <h1>The length of the board</h1>
        <p>Skateboards are from nose to tail between 28” and 33” long. Wider skateboards are also longer. Remember, your selection of deck should really be on width rather than length.</p>
        <img src="~/images/devo.jpg" alt="Image 1">
    </div>

    <div id="content6" class="content-section">
        <h1>The distance between the trucks</h1>
        <p>The distance between the mounting holes for the trucks. The wheelbase determines how far your trucks and your wheels sit apart.</p>
        <img src="~/images/4a7e89732337a34474f91a58cfdbb097.jpg" alt="Image 2">
    </div>

    <div id="content7" class="content-section">
        <h1>Kicktail - the pop of your board</h1>
        <p>The kicktail, the upturned end of your skateboard, allows you to do tricks like of ollies and kickflips. Most decks have one on both sides making it possible to do nollies and other switch tricks.</p>
        <img src="~/images/devo2.jpg" alt="Image 3">
    </div>

    <div id="content8" class="content-section">
        <h1>The ends of your deck</h1>
        <p>The nose is the front and the tail is the backside of your board. Finding it difficult to differentiate between the two? In most skateboards, the tail is slightly less pronounced than the nose.</p>
        <img src="~/images/636404064122492347-SkateKids-068.webp" alt="Image 4">
    </div>
    <div class="between-banner">
        <img src="~/images/8ed941c1238ff54d06c0aa6f49b073ea--spin.jpg" alt="Image 1">
        <img src="~/images/th-thunder-x-sunday-chima-ferguson-switchflip-davechami-1024x576.jpg" alt="Image 2">
        <img src="~/images/Gal_739-Karl_Berglind_red_bull_bowl_rippers_2020_OCT_3_Teddy_Morellec_red_bull_content_pool.jpg" alt="Image 3">
    </div>

    <h1 class="chapter-heading">Skateboard size</h1>
    <h3 class="chapter-subtitle">Which size deck for me?</h3>
    <div class="centered-section">
        <p class="centered-paragraph">
            When you look for a skateboard deck, width is the most important factor. It is measured in inches and always appears in the product name and on the board. The right size of board for you will depend on your height, your shoe size and what terrain you want to ride.
            Generally speaking, narrower widths are better for smaller riders, women and kids. If you are taller, heavier or have larger feet a wider deck will be more stable for you.
        </p>
    </div>
    <div class="nav-section">
        <button onclick="showContent('content9')">Up to 7.75"</button>
        <button onclick="showContent('content10')">7.75" To 8.25"</button>
        <button onclick="showContent('content11')"> 8.25" To 8.5"</button>
        <button onclick="showContent('content12')">Over 8.5”</button>
    </div>

    <div id="content9" class="content-section">
        <h1>Kids' skateboards</h1>
        <p>The narrowest skateboards - up to 7.75" - are reserved for your little ones. A narrower board is easier for a child to control with their smaller feet. The smaller dimensions make the board lighter, easier to flip and cheaper for you!</p>
        <img src="~/images/devo3.jpg" alt="Image 1">
    </div>

    <div id="content10" class="content-section">
        <h1>Street and skate parks</h1>
        <p>Skateboard decks between 7.75” and 8.25” are great for street and park skateboarding. If you have smaller feet, are shorter or lighter weight, a narrower deck will also be easier to flip and do tricks with.</p>
        <img src="~/images/devo4.jpg" alt="Image 2">
    </div>

    <div id="content11" class="content-section">
        <h1>Good all-rounder skateboards</h1>
        <p>Decks between 8.25” and 8.5” are good for park and mini-ramp sessions. The most versatile option, comfortable everywhere. If you are looking for an all-rounder, look no further.</p>
        <img src="~/images/nike-sb-miami-womens-trip.jpg" alt="Image 3">
    </div>

    <div id="content12" class="content-section">
        <h1>Halfpipe, pool and cruising</h1>
        <p>Boards over 8.5” are a stable, balanced platform for your feet. This makes them perfect for mini ramps, half-pipes and riding bowls. The added stability is great for cruising. If you have larger shoes (44 and upwards) or are
            taller than 1.85 cm you might want to consider going a bit wider.</p>
        <img src="~/images/devo6.jpg" alt="Image 4">
    </div>


    <div class="eight-divs-section">
        <div class="individual-div">
            <img src="~/images/888560319202-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Real Where's Mason</p>
            <p>84.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/888560319219-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Anti-Hero x Greensleeves Grant</p>
            <p>84.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/888560316461-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">There Marbie RGB Overload</p>
            <p>84.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/888560319196-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold"> Real Where's Ishod</p>
            <p>81.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/3607935273195-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Rassvet Sedlick</p>
            <p>77.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/827059440201-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Toy Machine 30 Year Anderson Bad Ass</p>
            <p>76.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/193172482207-1_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Santa Cruz Wooten Fever Dream VX</p>
            <p>96.95</p>
        </div>
        <div class="individual-div">
            <img src="~/images/810121101384-c_1280x.webp" alt="Image 1">
            <p style="font-weight:bold">Opera Slither Pop Slick</p>
            <p>79.95</p>
        </div>
    </div>

    <button class="page-button" onclick="location.href='https://localhost:7138/Components/AllDecks'">More decks</button>
    <div class="between-banner">
        <img src="~/images/P-20151116-00070_News-scaled.jpg" alt="Image 1">
        <img src="~/images/P-20151116-00176_News.jpg" alt="Image 2">
        <img src="~/images/P-20151116-00037_News.jpg" alt="Image 3">
    </div>
    <button onclick="scrollToTop()" id="topButton" title="Go to top">Top</button>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        showContent('content1');
    });

    function showContent(contentId) {

        var allContents = document.getElementsByClassName("content-section");
        for (var i = 0; i < allContents.length; i++) {
            allContents[i].style.display = "none";
        }


        document.getElementById(contentId).style.display = "block";
    }
</script>
<script>
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        var topButton = document.getElementById("topButton");

        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            topButton.style.display = "block";
        } else {
            topButton.style.display = "none";
        }
    }

    function scrollToTop() {
        document.body.scrollTop = 0; 
        document.documentElement.scrollTop = 0; 
    }
</script>
