@{
    ViewData["Title"] = "Information";
}
<head>
    <link rel="stylesheet" href="~/css/information.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

   </head>
<body>

    <div id="banner">
        <h1>Information</h1>
        <h3>How to assemble your skateboard</h3>
    </div>

    <div id="contentContainer">
        <div class="bigDivLeft">
            <h1>You have your first skateboard but don’t know how to assemble it?</h1>
            <p>Are you having problems putting on the griptape or mounting the bearings? Don’t worry, with our How To video and instructions you’ll have your skateboard assembled in no time.</p>
            <iframe id="videoContainer" width="100%" height="340" src="https://www.youtube.com/embed/09AcXVxYk9E?si=hHJ_ZvRHhuaj1nHX" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="bigDivRight">
            <div class="smallDiv">
                <h3>Get in touch</h3>
                <div class="socialIcons">
                    <a class="aFooter" href="https://www.facebook.com/" style="opacity:100%"><i class="fab fa-facebook"></i></a>
                    <a class="aFooter" href="https://twitter.com/" style="opacity:100%"><i class="fab fa-twitter"></i></a>
                    <a class="aFooter" href="https://www.instagram.com/?hl=en" style="opacity:100%"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <div class="smallDiv">
                <h3>Must trys</h3>
                <div class="linksContainer">
                    <a href="https://localhost:7138/Skateboards/CreateSkateboard">Configurator</a>
                    <a href="https://localhost:7138/Products/Guide">Guide</a>
                    <a href="https://localhost:7138/Blogs/All">Blog</a>
                </div>
            </div>

            <div class="smallDiv">
                <h3>Fast Wheels shop</h3>
                <img src="https://thumbs.dreamstime.com/b/various-skateboards-views-angles-set-skate-boards-colorful-modern-prints-sticker-bombs-flat-style-vector-illustration-97538261.jpg" alt="Image">
                <a href="https://localhost:7138/Products/All">	&#187;To the skate shop</a>
            </div>
        </div>
    </div>

    <div class="contentContainerInstructions">
        <div class="instructionsLeft">
            <h1>Skateboard Assembly Instructions</h1>
            <p>Step By Step To Your Complete Board</p>
            <ol class="instructionsNestedList">
                <li>
                    Put on Griptape
                    <ul class="instructionsNestedList">
                        <li>Aligning & bonding</li>
                        <li>File & cut griptape</li>
                        <li>Tip: Apply narrow griptape to wide decks</li>
                    </ul>
                </li>
                <li> Screw on trucks </li>
                <li>
                    Insert bearings into wheels
                    <ul class="instructionsNestedList">
                        <li>Tip: Remove bearings from wheels</li>
                    </ul>
                </li>
                <li>Screw wheels to trucks</li>
                <li>Adjust trucks </li>
            </ol>
        </div>

        <div class="instructionsSlideshow">
            <img class="instructionsImage" src="~/images//1-skateboard-set-up-assembly-griptape-3.jpg" alt="Image 1">
            <p class="instructionsCaption">Put on Griptape</p>

            <img class="instructionsImage" src="~/images/2-skateboard-set-up-assembly-trucks-8a.jpg" alt="Image 2">
            <p class="instructionsCaption">Screw on trucks</p>

            <img class="instructionsImage" src="~/images/3-skateboard-set-up-assembly-bearings-3.jpg" alt="Image 3">
            <p class="instructionsCaption">Insert bearings into wheels</p>

            <img class="instructionsImage" src="~/images/4-skateboard-set-up-assembly-wheels-2.jpg" alt="Image 4">
            <p class="instructionsCaption">Screw wheels to trucks</p>

            <img class="instructionsImage" src="~/images/how-to-adjust-skateboard-trucks-5-3.jpg" alt="Image 5">
            <p class="instructionsCaption">Adjust trucks </p>
        </div>
    </div>

    <div id="contentContainer">
        <div class="bigDivLeft">
            <h1>What you need to assemble your skateboard</h1>


            <div class="imagesDiv">
                <img class="smallPicture" src="~/images/ohhh.png" alt="Image 1">
                <img class="smallPicture" src="~/images/uhugdrhurgvr.png" alt="Image 2">
                <img class="smallPicture" src="~/images/sfgjkjtrfefghjkjhgf.png" alt="Image 3">
                <img class="smallPicture" src="~/images/broooo.png" alt="Image 4">
                <img class="smallPicture" src="~/images/tireddd.png" alt="Image 5">
                <img class="smallPicture" src="~/images/sdghjfdscvbnmjhfdfghjjhdefgh.png" alt="Image 6">
            </div>


            <div class="horizontalLists">

                <ul class="list">
                    <h2>The individual parts of your skateboard</h2>
                    <li>1x Deck</li>
                    <li>1x Griptape</li>
                    <li>2x Trucks</li>
                    <li>4x Wheels</li>
                    <li>8x Bearings</li>
                    <li>1x Hardware with 8 bolts and 8 nuts</li>
                </ul>


                <ul class="list">
                    <h2>Tools and aids</h2>
                    <li>Carpet knife (cutter)</li>
                    <li>Skate tool</li>
                    <li>Optional: metal object such as a file, screwdriver or something similar</li>
                </ul>


                <ul class="list">
                    <h2>Optional parts</h2>
                    <li>Spacers (between the bearings)</li>
                    <li>Shock pads / riser pads</li>
                    <li>Deck rails</li>
                </ul>
            </div>

			<p class="paragraph"><spam style="font-weight:bold">Tip:</spam> The easiest and best way to assemble your skateboard is with a skate tool. This has all the necessary parts combined in one tool. If you don’t have a skate tool handy, you can also screw your skateboard together
                with conventional tools. You can find information about the correct sizes of the keys here.</p>
        </div>

        <div class="bigDivRight">
            <div class="smallDiv">
                <h1>Parts</h1>
                <img src="https://thumbs.dreamstime.com/b/longboard-top-side-bottom-views-colorful-long-boards-modern-sticker-bombs-flat-style-vector-illustration-isolated-97538280.jpg" alt="Image">
                <a href="https://localhost:7138/Products/All">	&#187;Visit</a>
            </div>

            <div class="smallDiv">
                <h1>Configurator</h1>
                <img src="~/images/8453380.png" alt="Image">
                <a href="https://localhost:7138/Skateboards/CreateSkateboard">	&#187;Visit</a>
            </div>
    </div>
    </div>

    <div class="whatIsPartContainer">
        <div class="whatIsPart">
            <h3>Wheels</h3>
            <div class="whatIsPartSlideshow">
                <img class="whatIsPartImage" src="~/images/big-head-52mm-99d-skateboard-wheels.jpg" alt="Part 1 Image 1">
                <img class="whatIsPartImage" src="~/images/bbdhbcvhbdhbh.jpg" alt="Part 1 Image 2">
                <img class="whatIsPartImage" src="~/images/sector-9-race-formula-72mm-longboard-skateboard-wheels-yellow-78a.jpg" alt="Part 1 Image 3">
                <p class="whatIsPartCaption">What are the wheels</p>
            </div>
            <p class="whatIsPartDescription">There are four main types of skateboard wheels: skatepark & street wheels, bowl wheels, cruiser wheels, and longboard wheels.</p>
        </div>

        <div class="whatIsPart">
            <h3>Trucks</h3>
            <div class="whatIsPartSlideshow">
                <img class="whatIsPartImage" src="~/images/STOPIT.jpg" alt="Part 2 Image 1">
                <img class="whatIsPartImage" src="/images/700_82557_381558.webp" alt="Part 2 Image 2">
                <img class="whatIsPartImage" src="~/images/IND-SKT-4288_1_4ebb14a4-bc59-4b29-bec0-3f8e09006afd_1024x1024.jpg" alt="Part 2 Image 3">

                <p class="whatIsPartCaption">What are the trucks</p>
            </div>
            <p class="whatIsPartDescription">Skateboard trucks are metal T-shaped components mounted on the underside of a skateboard, connecting the deck to the wheels</p>
        </div>

        <div class="whatIsPart">
            <h3>Bearings</h3>
			<div class="whatIsPartSlideshow">
                <img class="whatIsPartImage" src="~/images/71MEMSulb0L._SL1500_.jpg" alt="Part 3 Image 3">
                <img class="whatIsPartImage" src="~/images/bronson-speed-co-bearings-raw-skateboard-bearings.webp" alt="Part 3 Image 2">
                <img class="whatIsPartImage" src="~/images/c82e0605-e184-4979-bbbc-65f30010d661.75f837eac562d58bbcb311f9dc9c0e9b.webp" alt="Part 3 Image 1">
                <p class="whatIsPartCaption">What are the bearings</p>
            </div>
            <p class="whatIsPartDescription">Skateboard bearings are small circular devices that are placed inside the wheels to control how fast they spin</p>
        </div>
    </div>

    <div class="recommendedContainer">
        <h1 class="recommendedHeading">Recommendations for mouting your skateboard</h1>
        <p class="recommendedParagraph">We recommend that you assemble your skateboard with a suitable skate tool. Alternatively, you can also use conventional tools. For the bolts of the assembly kit, you can use a Phillips screwdriver or a 6mm Allen key, depending on the type of bolt and a 10mm wrench. A 13mm and a
            14mm wrench will fit the nuts of the trucks and the kingpin. If you find it too tedious to use normal tools, 
            you can easily order skate tools and all the individual parts you need for your skateboard in our online skate shop.
            <img src="~/images/1997242.png" />
        </p>
        <p class="recommendedParagraph">
            If you are looking for a new setup, our Skateboard Configurator will help you. The configurator ensures that all the parts fit together. This is how you can get your new skateboard quickly and easily.
            It provides you the posibility to choose your own parts and make a custom board just for your liking - from the deck all the way to the wheels. The website offers you a huge amount of high quality parts to choose from
            that are not only perfect for you but for your wallet too! Don't think twice and go check it out! 
            <img src="~/images/7424737.png"/>
        </p>

        <button class="recommendedButton" onclick="location.href='https://localhost:7138/Products/Guide'">	&#187;To Guide</button>
        <button class="recommendedButton" onclick="location.href='https://localhost:7138/Products/All'">	&#187;To Parts</button>
        <button class="recommendedButton" onclick="location.href='https://localhost:7138/Skateboards/CreateSkateboard'">	&#187;To Configurator</button>
        <button class="recommendedButton" onclick="location.href='https://localhost:7138/CompleteSkateboards/All'">	&#187;To Completes</button>
    </div>


    <button onclick="scrollToTop()" id="topButton" title="Go to top">Top</button>
</body>


<script>
	document.addEventListener("DOMContentLoaded", function () {
		let currentIndex = 0;
		const images = document.querySelectorAll('.instructionsImage');
		const captions = document.querySelectorAll('.instructionsCaption');

		function showImage(index) {
			images.forEach(image => image.style.display = 'none');
			captions.forEach(caption => caption.style.display = 'none');

			images[index].style.display = 'block';
			captions[index].style.display = 'block';
		}

		function nextImage() {
			currentIndex = (currentIndex + 1) % images.length;
			showImage(currentIndex);
		}

		showImage(currentIndex);

		setInterval(nextImage, 3000);
	});
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const slideshows = document.querySelectorAll('.whatIsPartSlideshow');

        slideshows.forEach(slideshow => {
            let currentIndex = 0;
            const images = slideshow.querySelectorAll('.whatIsPartImage');
            const captions = slideshow.querySelector('.whatIsPartCaption');

            function showImage(index) {
                images.forEach(image => image.style.display = 'none');

                images[index].style.display = 'block';
            }

            function nextImage() {
                currentIndex = (currentIndex + 1) % images.length;
                showImage(currentIndex);
            }
            showImage(currentIndex);

            setInterval(nextImage, 2000);
        });
    });
</script>
<script>
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        var topButton = document.getElementById("topButton");

        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            topButton.style.display = "block";
        } else {
            topButton.style.display = "none";
        }
    }

    function scrollToTop() {
        document.body.scrollTop = 0; 
        document.documentElement.scrollTop = 0; 
    }
</script>