@model MovieWebAppStaj.Domain.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1 class=" text-center " style="color:maroon">Edit</h1>

<hr />
<div class="row text-center font-weight-bold" style="color:goldenrod; margin: auto; width: 100%; padding-left: 450px;">
    <div class="col-md-4">
        <form asp-action="Create" style="background-color:wheat; border-radius:20px; padding:10px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Title..." />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" placeholder="Year..." />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" placeholder="Image..." />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" placeholder="Image..." />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" placeholder="Image..." />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="color:white; background-color:maroon; border-color:maroon" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" style="color:maroon" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
