@model SkateAppWeb.Models.Products.GriptapeCreateVM

@{
    ViewData["Title"] = "EditProduct";
}
<head>
    <link rel="stylesheet" href="~/css/createPages.css" asp-append-version="true" />
</head>
<h1 class="text-center createH">Edit Griptape</h1>

<div>
    <form asp-action="EditGriptape" class="text-center">
        @await Html.PartialAsync("PartialViews/_GriptapePartialView", Model)
        <div class="form-group mt-4">
            <button type="submit" class="buttonCreate" style="margin-top:3px;">Edit</button>
            <a asp-action="AllTable" asp-controller="Products" class="linkCreate">Back to products</a>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}